<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/staticsFragments :: head"></head>
</head>
<body>
<header th:replace="layout/staticsFragments :: navbar"></header>
<div class="container-fluid">
    <div class="row mx-0 justify-content-center pt-3 ">
        <div class="col-md-7 col-lg-5 px-lg-2 col-xl-4 px-xl-0 px-xxl-3">
            <form method="POST"
                  class="w-100 rounded-1 p-4 border bg-white border rounded-5 border-black needs-validation" novalidate>

                <input type="hidden" name="supplierId" id="supplierId" th:value="${supplierId}">

                <input type="hidden" name="name" id="name" th:value="${user.name}">

                <input type="hidden" name="email" id="email" th:value="${user.email}">

                <label class="form-label mb-4" for="receipt">Imagen del problema</label>
                <input name="receipt" type="file" class="form-control" required/>

                <label class="mb-4" for="message"> Problema</label>
                <textarea name="message" class="form-control" rows="3" placeholder="Por favor describe tu problema"
                          required></textarea>

                <div class="d-grid gap-2">
                    <button class="btn btn-danger" type="button" onclick="showSuccess()">Denunciar</button>
                </div>
            </form>
        </div>
    </div>

    <!-- SWEET ALERT CSS -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.all.min.js"></script>
    <script th:src="@{../../js/complaint_form.js}"></script>
</div>

<footer th:replace="layout/staticsFragments :: footer"></footer>
</body>
</html>