<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhml"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head th:replace="layout/staticsFragments :: head"></head>
  </head>
  <body>
    <header th:replace="layout/staticsFragments :: navbar"></header>
    <div
      class="container position-absolute top-50 start-50 translate-middle shadow-lg p-2 mb-5 bg-body rounded border border-secondary"
    >
      <form>
        <input type="hidden" />
        <div class="mb-3">
          <label for="name">Name</label>
          <input name="name" class="text" placeholder="Usuario que denuncia"/>
        </div>
        <div class="mb-3">
            <label for="reason">Complaints reason</label>
            <select id="reason" name="reason" required>
              <option value="">Selecciona una opción</option>
              <option value="acoso">Acoso</option>
              <option value="discriminacion">Discriminación</option>
              <option value="violencia">Violencia</option>
              <option value="otro">Otro</option>
            </select>
        </div>
        <div class="mb-3">
          <label for="cuerpoNoticia" class="form-label"
            >Description</label
          >
          <br />
          <textarea
            name="cuerpo"
            type="text"
            class="form-control"
            id="cuerpoNoticia"
          >
          </textarea>
        </div>
        <button type="submit" class="btn btn-warning">Cargar</button>
      </form>
      <br />
    </div>
    <footer th:replace="layout/staticsFragments :: footer"></footer>
  </body>
</html>
