<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhml"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="layout/staticsFragments :: head"></head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<body>
	<header th:replace="layout/staticsFragments :: navbar"></header>

    <div th:if="${error != null}" class="alert alert-danger container-fluid d-flex justify-content-center" role="alert">
		<p>[[${error}]]</p>
	</div>
	
	<div th:if="${success != null}" class="alert alert-success container-fluid d-flex justify-content-center" role="alert">
		<p>[[${success}]]</p>
	</div>

	<div class="p-5 d-flex justify-content-center align-items-center">
		<form th:action="@{/forgot-password}" method="post"
			style="max-width: 350px; margin: 0 auto;">
			<div class="border border-secondary rounded p-3">
				<div>
					<p>Te estaremos mandando un link para resetear la contraseña a
						tu email</p>
				</div>
				<div>
					<p>
						<input type="email" name="email" class="form-control"
							placeholder="Ingrese su email" required autofocus>
					</p>
					<p class="d-flex justify-content-center">
						<input type="submit" value="Enviar" class="btn btn-primary">
					</p>
				</div>
			</div>
		</form>
	</div>

	<footer th:replace="layout/staticsFragments :: footer"></footer>
	<script th:src="@{../js/login_form.js}"></script>
</body>
</html>
