<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Document</title>
	<!-- BOOTSTRAP -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous" />
</head>

<body>
	<header>
		<nav class="navbar navbar-expand-lg bg-white sticky-top navbar-light p-3 shadow-sm">
			<div class="container-fluid">
				<a class="navbar-brand h1" href="#">Arreglalo Ya</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
					data-bs-target="#navbarNavDropdown">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarNavDropdown">
					<div class="navbar-nav ms-auto">
						<a class="nav-link mx-2 text-uppercase active" aria-current="page" href="#">
							Home
						</a>
						<a class="nav-link mx-2 text-uppercase" href="#works">Works</a>
						<a class="nav-link mx-2 text-uppercase" href="#suppliers">Suppliers</a>
						<a class="nav-link mx-2 text-uppercase" href="#">About</a>
					</div>
					<div class="navbar-nav ms-auto right__menu">
						<ul class="navbar-nav">
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle mx-2" href="#" data-bs-toggle="dropdown"
									aria-expanded="false">Idioma</a>
								<ul class="dropdown-menu mb-2">
									<li>
										<a class="dropdown-item" th:href="@{?(lang=es)}"><img class="me-1 mb-1"
												src="https://img.icons8.com/fluency/32/000000/spain-circular.png " />Español</a>
									</li>
									<li>
										<a class="dropdown-item" th:href="@{?(lang=en)}"><img class="me-1 mb-1"
												src="https://img.icons8.com/fluency/32/000000/usa-circular.png " />Ingles</a>
									</li>
									<li>
										<a class="dropdown-item" th:href="@{?(lang=pt)}"><img class="me-1 mb-1"
												src="https://img.icons8.com/fluency/32/000000/brazil-circular.png " />Portugues</a>
									</li>
								</ul>
							</li>
						</ul>

						<a class="nav-link mx-2" href="#">
							<i class="ri-user-add-line me-1"></i> Account
						</a>
					</div>
				</div>
			</div>
		</nav>
	</header>
	<div class="p-5 d-flex justify-content-center align-items-center">
		<div class="col-md-4 p-5 shadow-sm border rounded-5 border-black">
			<h2 class="text-center mb-4 text-black" th:text="#{users.Rol}">
				Usuario
			</h2>
			<form method="POST" class="needs-validation" th:object="${users}" th:action="@{/user/new-user}" novalidate>
				<div class="row mb-3">
					<div class="col">
						<label for="name" class="form-label">Nombre</label>
						<input type="text" id="name" name="name" class="form-control border border-black"
							autocomplete="off" th:field="*{name}" required />
						<div class="invalid-feedback">Error</div>
					</div>
					<div class="col">
						<label for="lastname" class="form-label">Apellido</label>
						<input type="text" id="lastname" name="lastname" class="form-control border border-black"
							autocomplete="off" th:field="*{lastname}" required />
						<div class="invalid-feedback">Error</div>
					</div>
				</div>
				<div class="col mb-3">
					<label for="phoneNumber" class="form-label">Teléfono</label>
					<input type="tel" id="phoneNumber" name="phoneNumber" class="form-control border border-black"
						th:field="*{phoneNumber}" required />
					<div class="invalid-feedback">Error</div>
				</div>
				<div class="col mb-3">
					<label for="email" class="form-label">Email</label>
					<input type="email" id="email" name="email" class="form-control border border-black"
						th:field="*{mail}" required />
					<div class="invalid-feedback">Error</div>
				</div>

				<div class="row mb-3">
					<div class="col">
						<label for="username" class="form-label">Password</label>
						<input type="password" id="password" name="password" class="form-control border border-black"
							th:placeholder="#{signup.form.contra.placeholder}" th:field="*{password}" autocomplete="off"
							required />
					</div>
					<div class="col">
						<label for="repeat" class="form-label">Repetir password</label>
						<input type="password" id="repeat" name="repeat" class="form-control border border-black"
							autocomplete="off" required />
						<div class="invalid-feedback">Error]</div>
					</div>
				</div>
				<div th:if="${user.rol == CUSTOMER}">
					<div class="d-flex justify-content-center mb-3">
						<select name="neighborhood" id="neighborhood" class="form-select w-50" required>
							<option value="BARRIO1">Barrio 1</option>
							<option value="BARRIO2">Barrio 2</option>
							<option value="BARRIO2">Barrio 3</option>
						</select>
					</div>

					<div class="col mb-3">
						<label for="street" class="form-label">Calle</label>
						<input type="text" id="street" name="street" class="form-control border border-black"
							autocomplete="off" required />
					</div>
					<div class="col mb-3">
						<label for="number" class="form-label">Altura</label>
						<input type="number" id="height" name="height" class="form-control border border-black"
							autocomplete="off" min="0" required />
					</div>
				</div>
				<div th:if="${user.rol == SUPPLIER}">
					<div class="d-flex justify-content-center mb-3">
						<select name="principalService" id="principalService" class="form-select w-50" required>
							<option value="">Gasista</option>
							<option value="">Plomero</option>
							<option value="">Electricista</option>
						</select>
					</div>

					<div class="d-flex justify-content-center mb-3">
						<textarea name="biography" id="biography" cols="100" rows="10"
							placeholder="Biografia"></textarea>
					</div>
				</div>

				<div class="d-grid">
					<button class="btn btn-primary" type="submit">
						Registrarse
					</button>
				</div>
			</form>
			<script th:src="@{../js/sign_up_form.js}"></script>
			<div class="mb-3 mt-3">
				<p class="mb-0 text-center">
					Ya tienes cuenta?<a th:href="@{/login}" class="text-primary fw-bold">
						Ingresá aquí</a>
				</p>
			</div>
			<div th:if="${success}" class="alert alert-success" role="alert">
				<span th:text="${success}"></span>
			</div>
			<div th:if="${error}" class="alert alert-danger" role="alert">
				<span th:text="${error}"></span>
			</div>
		</div>
	</div>
	<!-- BOOTSTRAP -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
		crossorigin="anonymous"></script>
</body>

</html>