<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns="http://www.w3.org/1999/xhml"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>

<head th:replace="layout/staticsFragments :: head"></head>

<body>
<header th:replace="layout/staticsFragments :: navbar"></header>
<div class="container-fluid">
    <div class="row mx-0 justify-content-center pt-3">
        <div class="col-md-7 col-lg-5 px-lg-2 col-xl-4 px-xl-0 px-xxl-3">
            <form
                    method="POST"
                    th:object="${review}"
                    th:action="@{/review/create}"
                    class="w-100 rounded-1 p-4 border bg-white border rounded-5 border-black needs-validation"
                    novalidate
            >
                <input
                        type="hidden"
                        name="supplierId"
                        id="supplierId"
                        th:value="${supplierId}"
                />

                <label class="form-label mb-4" for="score">Puntaje</label>
                <input
                        name="score"
                        type="number"
                        min="0"
                        max="5"
                        step="0.5"
                        class="form-control"
                        th:field="*{score}"
                        required
                />

                <label class="mb-4" for="content">Comentario</label>
                <textarea
                        name="content"
                        class="form-control"
                        rows="3"
                        placeholder="Me encanta cómo trabajás!"
                        th:field="*{content}"
                ></textarea>

                <div class="d-grid gap-2">
                    <button class="btn btn-primary" type="submit">
                        Dejar reseña
                    </button>
                </div>
            </form>
        </div>
    </div>

    <!-- SWEET ALERT CSS -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.all.min.js"></script>
    <script th:src="@{../../js/botstrap.validation.js}"></script>
</div>

<footer th:replace="layout/staticsFragments :: footer"></footer>
</body>
</html>
