<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhml"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="layout/staticsFragments :: head"> </head>

<body>
	<header th:replace="layout/staticsFragments :: navbar"></header>
	<div class="container-fluid vh-100">
		<div class="py-5 mb-5 container">
			<div class="card">
				<div class="row">
					<div class="col-12 col-md-4 mb-4" th:each="supplier : ${supplierList}">
						<div class="card bg-dark">
							<img style="height:200px;width:353px" src="https://cloudfront-us-east-1.images.arcpublishing.com/infobae/V35IA375E5CNZMHKDUR2X6RMPE.jpg"
								class="card-img-top rounded-3 imagenstyle" alt="Imagen HTML">
							<div class="card-body">
								<h3 class="card-title text-white text-capitalize fs-2" th:text="${supplier.name}"></h3>
								<p class="card-text text-white m-0">
									Servicio : <small class="text-muted fst-italic  text-capitalize"
										th:text="${supplier.profession}"></small>
								</p>
								<p class="card-text text-white m-0">
									<small class="text-muted fst-italic  text-capitalize"
										th:text="${supplier.biography}"></small>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
	<footer th:replace="layout/staticsFragments :: footer"></footer>

</body>

</html>